@import url(../fonts/Satisfy-Regular.ttf);

@font-face{
  font-family: Kursiva;
  src: url(../fonts/Satisfy-Regular.ttf);
}

*{
  margin:0;
  padding: 0;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#e8f5e9;
  
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
}

#fondo{
  background: url(../img/zarzamoras26.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -3;    
}
.iSeccion1{
  background: url(../img/zarzamora26.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  z-index: -3;
}
.iSeccion2{
  background: url(../img/zarzamora36.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index:-3;
}
.circle {

  list-style-type: disc;
}

.circle > li > .padMas{
  padding-top: 2%;
}

.cTitle{
  color: #FFF01F;
}

.color{
  background-color: rgb(160,67,106);
}

.cSection{
  background-color: #71C017;
}

.pCh{
  padding-top: 2%;
}

.circle > li > p{
 padding-top: 0%;
}





.select.active > a{
  color: #311b92!important;
}


div.row.container.grey.lighten-2{
  background-color: rgba(255,255,255,0.6) !important;
}

.row.container.abajo {
  margin-bottom: 0;
}

p.col.l12.pChMed{
  padding-bottom: 3%;
}

.opMas{
  opacity: 1;
}

.opMenos{
  opacity: 0;
}

.hid{
  display: none;
}
.noHid{
  display: inherit;
}

.noPadTop{
  padding-top: 0;
}

p.noPadTop {
  padding-top: 0;
}

.z2{
  z-index: 2;
}

.flex{
  display:flex;
}

.fright{
  justify-content: flex-end;
  justify-content: space-between;
  justify-content: space-around;
}

.pRightMed{
  padding-right: 15%;
}


.hMed{
  height: 7%;
}

.fcenter
{
  width: 40%;
  display: block;
  margin: 0 auto;
  padding-bottom: 5%;
  padding-top: 5%;
    /*align-items: center;
    flex-wrap: nowrap;*/
  }

  .ccont{
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .calign{
    text-align: center;
  }
  .zMarginSides {
    margin-right: 0;
    margin-left: 0;
  }
/*.znav{
  z-index:1;
}

.ztext{
  z-index: 2;
  }*/

  #sidenav-overlay{
    background-color: rgba(255,255,255,0.8);
  }


 /* .imgHeight > .l4{
    height: 30%;
  }
  */
  .tjustify{
    text-align: justify;
    /*text-justify:inter-word;*/
  }



  .side-nav >li > a{
    color:#ffea00!important;
  }

  li > a:hover{
    color:#311b92!important;
  }
  li > a{
    color:#2e7d32!important;
    font-weight: bold;
    /*font-size: 200%;*/
  }
  .fbig{
    font-size: 200%;
  }
  .fmedium{
    font-size: 200%;
  }
  .fbold{
    font-weight: bold;
  }

  .ctext{
    color:#311b92 ;
  }

  .tshadow{
    text-shadow: 1px 1px #FFDC00, -1px -1px #ffea00;
  }

  .tcursiva{
    font-family: "Kursiva";
  }

  .wcont{
    width: 100%;
  }

  .hcont{
    height: 70%;
  }

  .no-shadow{
    box-shadow: none;
  }

  .logo{
    height: 100%;
    width: 25%;
  }
  .mtop{
    margin-top: 1.5%;
  }
  
  .pChMed{
    padding-bottom: 5%;
  }

  .mtitle{
    margin-top: 15%;
    margin-bottom: 5%;
  }

  .timg{
    width: 20%;
    
  }

  .psides{
    padding-right: 15%;
    padding-left: 15%;
  }

  p.col.l12.pChMed.pText {
    padding-left: 7%;
    padding-right: 7%;
  }

  .bText{
    font-weight: 500;
  }


  .pGde{
    padding-top: 20%;
  }

  .pGdePlus{
    padding-top: 20%; 
  }

  .pMed{
    padding-bottom: 5%;
  }

  .col.s12.pMed {
    padding-bottom: 10%;
  }

  .pBotCh{
    padding-bottom:1%;
  }

  .bResponsive{
    width: 100%;
    padding-top: 5%;
  }

  @media (min-width:320px) { 

    .timg{
      width: 130px;
    }
    .fbig{
      font-size: 100%;
    } 
    .fcenter{
      padding-top: 10%;
      width: 80%;
    }
    .pGde{
      padding-top: 25%;
      padding-bottom: 40%;
    }
    .pMed{
      padding-top: 20%;
      padding-bottom: 10%;
    }
    .psides{
      padding-right: 0%;
      padding-left: 0%;
    }
    .mTopNeg{
      margin-top: -8%;
    }

    .mTopZ{
      margin-top: 0;
    }

    .mImage{
      width: 220%;
    }
    .col.s6.pMed.wMax {
      width: 100%;
    }

  }
  @media (min-width:481px) { 
    .timg{
     width: 150px;
   }
   .fbig{
    font-size: 120%;
  }
  .pGde{
    padding-bottom: 30%;
  }
  .psides{
    padding-right: 15%;
    padding-left: 15%;
  }
  .mTopNeg{
    margin-top: -4%;
  }
  .col.s6.pMed.wMax {
    width: 100%;
  }

}
@media (min-width:641px) { 
  .timg{
    width: 180px;
  }
  .fbig{
    font-size: 140%;
  }
  .pGde{
    padding-bottom: 50%;
  }
  .hMed{
    height: 5%;
  }

  .pGde{
    padding-top: 30%;
  }
  .col.s6.pMed.wMax {
    width: 100%;
  }

}
@media (min-width:961px) {
  .timg{
    width: 220px;
  }
  .fbig{
    font-size: 160%;
  }
  .pGde{
    padding-bottom: 40%;
  }
  .pMed{
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .mTopNeg{
    margin-top: -3%;
  }
  .col.s6.pMed.wMax {
    width: 50%;
  }
  .pGdePlus{
    padding-top: 5%; 
  }
  .mImage{
    width: 100%;
  }

}
@media (min-width:1024px) { 
  .timg{
    width: 240px;
  }
  .fcenter{
    padding-top: 5%;
    width: 50%;
  }
  .pGde{
    padding-top: 10%;
    padding-bottom: 30%;
  }
  .psides{
    padding-right: 10%;
    padding-left: 10%;
  }
  .timg{
    width: 20%;
  }
  .pGdePlus{
    padding-top: 2%; 
  }

  .psides2{
    padding-right: 15%;
    padding-left: 15%;
  }

}
@media (min-width:1281px) {

  .cSection{
    background-color: #0B714F;
  }

  .fbig{
    font-size: 200%;
  }
  .pGde{
    padding-top: 15%;
    padding-bottom: 30%;
  }
  .pMed{
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .mImage{
    width: 80%;
  }
  .fcenter{
    padding-top: 0%;
    width: 30%;
  }
}

@media (min-width: 1440px){
  .mImage{
    width: 75%;
  }
}

@media(min-width: 1600px){
  .psides{
    padding-right: 15%;
    padding-left: 15%;
  }
  p, a{
    font-size: 18px;
  }
  .mImage{
    width: 100%;
  }
}

@media (min-width: 1700px){
  p, a{
    font-size: 20px;
  }
}

@media (min-width: 1850px){
  p, a{
    font-size: 22px;
  }
}

@media(min-width: 2000px){
  .pGde{
    padding-top: 7%;
    padding-bottom: 15%;
  }
  .zMarginLeft{
    margin-left: 0;
  }
  .zMarginRight{
    margin-right: 0;
  }
  
  .pMed{
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .mTopNeg{
    margin-top: -1%;
  }

  .mImage{
    width: 80%;
  }

  .psides2{
    padding-left: 20%;
    padding-right: 20%;
  }

}

@media (min-width: 2200px) {
  p, a{
    font-size: 24px;
  }
}

@media(min-width: 2500px ) and (max-height: 2600px){

  .pGde{
    padding-top: 7%;
    padding-bottom: 15%;
  }
  .zMarginLeft{
    margin-left: 0;
  }
  .zMarginRight{
    margin-right: 0;
  }
  
  .pMed{
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .mTopNeg{
    margin-top: -1%;
  }

  .mImage{
    width: 70%;
  }

}