@import url(../fonts/Satisfy-Regular.ttf);

@font-face{
  font-family: Kursiva;
  src: url(../fonts/Satisfy-Regular.ttf);
}

*{
  margin:0;
  padding: 0;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#e8f5e9;
  
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
}


.mBot{
  margin-bottom: 3%;
}

.mBotZ{
  margin-bottom: 0;
}

.pFooter{
  font-size: 80%;
}

#language{
  top:0;
  right: 0;
  position: fixed !important;
  z-index: 999;
}

.navbar-fixed{
  z-index: 998;
}

#fondo{
  background: url(../img/zarzamoras26.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -3;    
}
.iSeccion1{
  background: url(../img/zarzamora26.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  z-index: -3;
}

.iContainer{
  background: #bdbdbd;
  position: relative;
  transform: skewY(-2deg);
  transform-origin: top left;
}

.sSkewPos{
  transform: skewY(2deg);
  height: 100%;
}

.sExpand{
  height: 100%;
  /* bottom: -10%;*/
}

.nColor > a{
  color: #ffffff!important;
}

.nColor > a:hover{
  color: #538D11!important;
}

.cSection2{
  background-color: #f5f5f5;
}

.cForm{
  background-color: #eeeeee;
}

.color{
  background-color: rgb(160,67,106);
}

.cSection{
  background-color: #538D11;
}

.cDisplay{
  background-color: #2088A4;
}

.pFooter{
  padding-top: 8%;
  padding-bottom: 2%;
}



/*.iSeccion2{
  background: url(../img/zarzamora36.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index:-3;
  }*/
  .circle {

    list-style-type: disc;
  }

  .circle > li > .padMas{
    padding-top: 2%;
  }

  .cTitle{
    color: #FFF01F;
  }

  .cTitle2{
    color:#87A890;
  }


  .pCh{
    padding-top: 2%;
  }

  .circle > li > p{
   padding-top: 0%;
 }

 .google {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}


.select.active > a{
  color: #311b92!important;
  text-shadow: 1px 1px #ffea00;
}


div.row.container.grey.lighten-2{
  background-color: rgba(255,255,255,0.6) !important;
}

.row.container.abajo {
  margin-bottom: 0;
}

form > .row{
  margin-bottom: 0;
}

p.col.l12.pChMed{
  padding-bottom: 3%;
}

.opMas{
  opacity: 1;
}

.opMenos{
  opacity: 0;
}

.hid{
  display: none;
}
.noHid{
  display: inherit;
}

.noPadTop{
  padding-top: 0;
}

p.noPadTop {
  padding-top: 0;
}

.z2{
  z-index: 2;
}

.flex{
  display:flex;
}

.fright{
  justify-content: flex-end;
  justify-content: space-between;
  justify-content: space-around;
}

.pRightMed{
  padding-right: 15%;
}


.hMed{
  height: 7%;
}

.fcenter
{
  width: 40%;
  display: block;
  margin: 0 auto;
  padding-bottom: 5%;
  padding-top: 5%;
    /*align-items: center;
    flex-wrap: nowrap;*/
  }

  .ccont{
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .calign{
    text-align: center;
  }
  .zMarginSides {
    margin-right: 0;
    margin-left: 0;
  }
/*.znav{
  z-index:1;
}

.ztext{
  z-index: 2;
  }*/

  #sidenav-overlay{
    background-color: rgba(255,255,255,0.8);
  }


 /* .imgHeight > .l4{
    height: 30%;
  }
  */
  .tjustify{
    text-align: justify;
    /*text-justify:inter-word;*/
  }

  .collapsible-body p{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  p.pBoth.calign{
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  /*red social*/

  .social {
    border-radius: 30px;
    position: relative;
    width: 150px;
    height: 32px;
    box-shadow: inset -1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
  }



  .social span {
    font-size: 12px;
    color: #fff;
    line-height: 30px;
    display: block;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    margin-left: 30px;
    text-align: center;
    width: 120px;
  }

  .social .button {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: absolute;
    left: 0;
  }

  #facebook.social {
    background: #354970;
  }

  #facebook .button {
    background: #fff url(http://i83.photobucket.com/albums/j295/woratana/facebook.png) 5px 5px no-repeat;
    border: 1px solid #354970;
  }


  .side-nav >li > a{
    color:#ffea00!important;
  }

  li > a:hover{
    color:#311b92!important;
    text-shadow: 1px 1px #ffea00 ;
  }
  li > a{
    text-shadow:1px 1px #000000;
    color:#ffea00!important;
    font-weight: bold;
    /*font-size: 200%;*/
  }
  .fbig{
    font-size: 200%;
  }
  .fmedium{
    font-size: 200%;
  }
  .fbold{
    font-weight: bold;
  }

  .ctext{
    color:#311b92 ;
  }

  .slider .slides li .caption > h3{
    color: #00bfa5;
    text-shadow: 1px 1px #ffffff;
  }

  .slider .slides li .caption > h5{
    color: #00bfa5;
    text-shadow: 1px 1px #000000;
  }

  .tshadow{
    text-shadow: 1px 1px #FFDC00, -1px -1px #ffea00;
  }

  .tcursiva{
    font-family: "Kursiva";
  }

  .wcont{
    width: 100%;
  }

  .hcont{
    height: 70%;
  }

  .no-shadow{
    box-shadow: none;
  }

  .logo{
    height: 100%;
    width: 25%;
  }
  .mTop{
    margin-top: 2%;
  }
  
  .mTop2{
    margin-top: 7%;
  }

  .mLeft{
    margin-left: 10%;
  }

  .pChMed{
    padding-bottom: 5%;
  }

  .mtitle{
    margin-top: 15%;
    margin-bottom: 10%;
  }

  .timg{
    width: 25%;
    
  }

  .psides{
    padding-right: 15%;
    padding-left: 15%;
  }

  .pSidesForm{
    padding-left: 15%;
    padding-right: 15%;
  }
  p.col.l12.pChMed.pText {
    padding-left: 7%;
    padding-right: 7%;
  }

  .bText{
    font-weight: 500;
  }


  .pGde{
    padding-top: 20%;
  }

  .pGdePlus{
    padding-top: 20%; 
  }

  .pMed{
    padding-bottom: 5%;
  }

  .pTopMed{
    padding-top: 5%;
  }

  .col.s12.pMed {
    padding-bottom: 10%;
  }

  .pBotCh{
    padding-bottom:1%;
  }

  .bResponsive{
    width: 100%;
    padding-top: 5%;
  }

  @media (min-width:320px) { 

    #language{
      display: none;
    }

    .mLeft{
      margin-left: 0%;
    }

    .timg{
      width: 100px;
    }
    .fbig{
      font-size: 100%;
    } 
    .fcenter{
      padding-top: 10%;
      width: 80%;
    }
    .pGde{
      padding-top: 25%;
      padding-bottom: 40%;
    }
    .pMed{
      padding-top: 20%;
      padding-bottom: 10%;
    }
    .psides{
      padding-right: 0%;
      padding-left: 0%;
    }
    .mTopNeg{
      margin-top: -8%;
    }

    .mTopZ{
      margin-top: 0;
    }

    .mImage{
      width: 220%;
    }
    .col.s6.pMed.wMax {
      width: 100%;
    }

    .pTopMed{
      padding-top: 10%;
    }

    .pSidesForm{
      padding-left: 0;
      padding-right: 0;
    }

  }
  @media (min-width:481px) { 
    .timg{
     width: 100px;
   }
   .fbig{
    font-size: 120%;
  }
  .pGde{
    padding-bottom: 30%;
  }
  .psides{
    padding-right: 15%;
    padding-left: 15%;
  }
  .mTopNeg{
    margin-top: -4%;
  }
  .col.s6.pMed.wMax {
    width: 100%;
  }

}
@media (min-width:641px) { 
  .timg{
    width: 150px;
  }
  .fbig{
    font-size: 140%;
  }
  .pGde{
    padding-bottom: 50%;
  }
  .hMed{
    height: 5%;
  }

  .pGde{
    padding-top: 30%;
  }
  .col.s6.pMed.wMax {
    width: 100%;
  }

}
@media (min-width:961px) {
  .timg{
    width: 190px;
  }
  .fbig{
    font-size: 160%;
  }
  .pGde{
    padding-bottom: 40%;
  }
  .pMed{
    padding-top: 20%;
    padding-bottom: 10%;
  }
  .mTopNeg{
    margin-top: -3%;
  }
  .col.s6.pMed.wMax {
    width: 50%;
  }
  .pGdePlus{
    padding-top: 5%; 
  }
  .mImage{
    width: 100%;
  }

}
@media (min-width:1024px) { 
  #language{
    display: inherit;
  }
  .timg{
    width: 210px;
  }
  .fcenter{
    padding-top: 5%;
    width: 50%;
  }
  .pGde{
    padding-top: 10%;
    padding-bottom: 30%;
  }
  .psides{
    padding-right: 10%;
    padding-left: 10%;
  }
  .timg{
    width: 25%;
  }
  .pGdePlus{
    padding-top: 2%; 
  }

  .mLeft{
    margin-left: 10%;
  }

  .pSidesForm{
    padding-left: 15%;
    padding-right: 15%;
  }

  .lRight{
    right: 50%;
  }


}
@media (min-width:1281px) {

  .cSection{
    background-color: #0C7E58;
  }

  .fbig{
    font-size: 200%;
  }
  .pGde{
    padding-top: 15%;
    padding-bottom: 30%;
  }
  .pMed{
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .mImage{
    width: 80%;
  }
  .fcenter{
    padding-top: 0%;
    width: 30%;
  }
}

@media (min-width: 1440px){
  .mImage{
    width: 75%;
  }
}

@media(min-width: 1600px){
  .psides{
    padding-right: 15%;
    padding-left: 15%;
  }

  .pFooter{
    font-size: 60%;
  }

  p, a{
    font-size: 18px;
  }

  .mImage{
    width: 100%;
  }
}

@media (min-width: 1700px){
  p, a{
    font-size: 20px;
  }
}

@media (min-width: 1850px){
  p, a{
    font-size: 22px;
  }
}

@media(min-width: 2000px){
  .pGde{
    padding-top: 7%;
    padding-bottom: 15%;
  }
  .zMarginLeft{
    margin-left: 0;
  }
  .zMarginRight{
    margin-right: 0;
  }
  
  .pMed{
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .mTopNeg{
    margin-top: -1%;
  }

  .mImage{
    width: 80%;
  }

  .psides2{
    padding-left: 20%;
    padding-right: 20%;
  }



}

@media (min-width: 2200px) {
  p, a{
    font-size: 24px;
  }
}

@media(min-width: 2500px ) and (max-height: 2600px){

  .pGde{
    padding-top: 7%;
    padding-bottom: 15%;
  }
  .zMarginLeft{
    margin-left: 0;
  }
  .zMarginRight{
    margin-right: 0;
  }
  
  .pMed{
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .mTopNeg{
    margin-top: -1%;
  }

  .mImage{
    width: 70%;
  }

}